{% extends 'display.html' %}
{% block content %}
    <h1>Create tasks</h1>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}    
        <div class="inputbox">
            <input type="text" name="Title" id="Title" required >
            <label for="">Title</label>
        </div>
        <div class="inputbox">
            <textarea name="description" id="description" cols="40" rows="10"></textarea>
            <label for="">Description</label>
        </div>
        <div class="inputbox">
            <label for="">Important</label>
            <select name="important" id="important" required>
                <option value="" selected disabled hidden>Choose here</option>
                <option value="L">Low</option>
                <option value="M">Medium</option>
                <option value="H">High</option>
            </select>
        </div>
        <button>Create tasks</button>
    </form>
{% endblock content %}