{% extends 'display.html' %}
{% block content %}
    <h1>home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui consequatur cumque possimus labore, dolore fugiat necessitatibus voluptatem repudiandae, eaque quas eligendi ab esse ipsa sed rerum repellendus natus molestias ullam?
    Nostrum quo explicabo molestiae, tempore iusto repellendus aliquam rerum fuga quam dolorum similique laboriosam consequatur accusamus esse doloremque unde hic labore. Similique laborum neque id odit accusamus distinctio animi mollitia.
    Ad qui cupiditate ea voluptate, quo voluptates, ipsa incidunt quam excepturi porro nam praesentium natus quidem corporis iusto nisi reiciendis saepe numquam error quod in! Nemo temporibus officiis provident quisquam.
    Recusandae, sapiente sequi pariatur provident totam minus delectus, iste itaque, tempora saepe maiores doloribus rem nostrum. Omnis, a, soluta dignissimos illo delectus architecto nisi sint obcaecati excepturi pariatur quam aspernatur.
    Facere magni nostrum ipsum repellendus eum asperiores amet harum sit, deserunt hic officiis, soluta rem molestias a natus impedit possimus. Eum fugiat quisquam odio eveniet sequi quos rerum repellendus minus!</p>
{% endblock content %}