{% extends 'display.html' %}
{% block content %}
    <h1>Login</h1>
    {% if warning %}
        <p>{{warning}}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}    
        <div class="inputbox">
            <input type="text" name="username" id="username" required >
            <label for="">Username/Email</label>
        </div>
        <div class="inputbox">
            <input type="password" name="password" id="password" required>
            <label for="">Password</label>
        </div>
        <button>Register</button>
        <div class="login">
            <p>Do you don't have a account? <a href="/signup/">Signup</a> here </p>
        </div>
    </form>
{% endblock content %}