{% extends 'display.html' %}

{% block css %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'tasks/forms-createedit.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/alerts-message.css' %}">
{% endblock css %}

{% block logo %}
    <h1>Login</h1>
{% endblock logo %}

{% block content %}
    {% if warning %}
    <div class="warning">
        <p>{{warning}}</p>
        <p>X</p>
    </div>
    {% endif %}
    <div class="content-form">
        <form method="post">
            {% csrf_token %}
            <div class="content-info">
                <h2 class="titlemain">Login</h2>
                <div class="inputbox">
                    <label for="">Username/Email</label>
                    <input type="text" name="username" id="username" required >
                </div>
                <div class="inputbox">
                    <label for="">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button>Register</button>
                <div class="link">
                    <p>Don't you have an account? <a href="/signup/">Signup</a> here </p>
                </div>
            </div>    
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'tasks/alerts.js' %}"></script>
{% endblock script %}