{% extends 'display.html' %}

{% block css %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'tasks/forms-createedit.css' %}">
{% endblock css %}

{% block logo %}
    <h1>Signup</h1>
{% endblock logo %}

{% block content %}
    {% if warning %}
        <p class="warning">{{warning}}</p>
    {% endif %} 
    <div class="content-form">
        <form method="post">
            {% csrf_token %}
            <div class="content-info">
                <h2 class="titlemain">Singup</h2>
                <div class="inputbox">
                    <label for="">Username</label>
                    <input type="text" name="username" id="username" required >
                </div>
                <div class="inputbox">
                    <label for="">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="inputbox">
                    <label for="">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="inputbox">
                    <label for="">passwordConfirm</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" required>
                </div>
                <button>Register</button>
                <div class="link">
                    <p>Do you have a account? <a href="/login/">Login</a> here </p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}