{% extends 'display.html' %}
{% block content %}
    <h1>Signup</h1>
    {% if warning %}
        <p>{{warning}}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="inputbox">
            <input type="text" name="username" id="username" required >
            <label for="">Username</label>
        </div>
        <div class="inputbox">
            <input type="email" name="email" id="email" required>
            <label for="">Email</label>
        </div>
        <div class="inputbox">
            <input type="password" name="password" id="password" required>
            <label for="">Password</label>
        </div>
        <div class="inputbox">
            <input type="password" name="passwordConfirm" id="passwordConfirm" required>
            <label for="">passwordConfirm</label>
        </div>
        <button>Register</button>
        <div class="login">
            <p>Do you have a account? <a href="/login/">Login</a> here </p>
        </div>
    </form>
{% endblock content %}