{% extends 'display.html' %}
{% block css %}
    {% load static %}   
    <link rel="stylesheet" href="{% static 'tasks/modal_task.css' %}">
{% endblock css %}
{% block content %}
    <h1>tasks</h1>
    {% comment %} <form action="" method='POST'>
        {% csrf_token %} {% endcomment %}
    <div class="container">
        {% for task in tasks %}
        <div class="card"> 
            <div class="cabecera">
                <h4>Important level {{task.important}}</h4>
                {% if task.datecompleted == null %}
                    <form  action="{% url 'taskcomplete' %}" method="POST">
                        {% csrf_token %}
                        <button name="id" value="{{task.id}}" class="btn">
                            complete    
                        </button>
                    </form>
                {% endif %}
                {% if task.datecompleted != null %}
                    <a href="{% url 'taskdelete' task.id %}" class="btn-modal">delete</a>
                {% endif %}
            </div>
            <h2>{{task.title}}</h2>
            <p>{{task.description|truncatechars:100}}</p>
            <h5>Made for {{task.user.username}} on {{task.created|date:'M/d/Y'}}</h5>
            <a href="{% url 'task' %}?id={{task.id}}" class="btn-modal">see more</a>
            {% comment %} <button name="value" value="{{task.id}}" class="btn-modal">see more</button> {% endcomment %}
        </div>
        {% endfor %}
    </div>
    {% comment %} </form> {% endcomment %}
        {% if person %}
            <div class="container-modal">
                <div class="content-modal">
                    <header class="header-modal">
                        <h2>{{person.title}}</h2>
                        <a href="{% url 'task' %}" class="close-modal">X</a>
                    </header>
                    <div class="main-modal">
                        <p>{{person.description}}</p>
                    </div>
                    <footer class="footer-modal">
                        <h5>level important is {{person.important}}, it was create on {{person.created|date:'M/d/Y'}}</h5>
                        <a href="{% url 'taskupdate' person.id %}">Edit</a>
                        </footer>
                    </div>
                </div>
        {% endif %}
{% endblock content %}
