{% extends 'display.html' %}
{% block content %}
    <h1>Tasks Completed</h1>
    <div class="container">
        {% for task in tasks %}
        <div class="card"> 
            <div>
                <h4>Important level {{task.important}}</h4>
            </div>
            <h2>{{task.title}}</h2>
            <p>{{task.description|truncatechars:100}}</p>
            <h5>Made for {{task.user.username}}, it was complete on {{task.datecompleted|date:'M/d/Y'}}</h5>
        </div>
        {% endfor %}
    </div>
{% endblock content %}